/* cssnext */

a:hover {
    color: rgba(70, 130, 180, 0.8);
}

@media (min-width: 48rem) and (max-width: 64rem) {
    .container {
        max-width: 64rem;
    }
}

h1 {
    color: #b22222;
}

.highlight {
    background: #b22222;
    border: solid 0.0625rem steelblue;
}

/* pxtorem */

h1 {
    color: #b22222;
    font-size: 3.75rem;
    margin-bottom: 2.5rem;
    letter-spacing: 0.0625rem;
}