/* cssnext */

a:hover {
    color: #4682b4;
    color: rgba(70, 130, 180, 0.8);
}

@media (min-width: 48rem) and (max-width: 64rem) {
    .container {
        max-width: 64rem;
    }
}

h1 {
    color: #b22222;
}

.highlight {
    background: #b22222;
    border: solid 0.0625rem steelblue;
}

/* pxtorem */

h1 {
    color: #b22222;
    font-size: 3.75rem;
    margin-bottom: 2.5rem;
    letter-spacing: 0.0625rem;
}

/* autoprefixer */

.nav {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
    border: 0.625rem;
}

/* SVG fragments */

.icon-gear {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='100 -50 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='%2339ADD1' cx='200' cy='50' r='90'/%3E%3Cpath fill='%23FFFFFF' d='M231.9%2C10.9c-1.8-0.6-3.6-0.6-5.1%2C0.3L216.2%2C17c-1.5-0.9-3-1.2-4.2-1.8l-3.1-11.5 c-0.6-1.8-1.8-3-3.3-3.9c-1.8-0.6-3.3-0.9-5.1-0.9c-1.8%2C0-3.3%2C0.3-5.1%2C0.9c-0.9%2C0.3-1.2%2C0.6-1.8%2C1.2s-1.2%2C1.8-1.5%2C2.7l-3%2C11.5 c-1.5%2C0.3-3%2C1.2-4.2%2C1.8L174%2C11.3c-1.5-0.9-3.3-0.9-5.1-0.3c-2.4%2C0.6-3.9%2C2.1-4.8%2C3c-1.5%2C1.5-2.4%2C3-3%2C4.2c-0.6%2C1.8-0.6%2C3.6%2C0.3%2C5.1 l5.8%2C10.6c-0.6%2C1.2-1.5%2C2.7-1.8%2C4.2l-11.8%2C3.4c-0.9%2C0.3-1.5%2C0.9-2.1%2C1.5c-0.6%2C0.6-1.2%2C1.2-1.2%2C1.8c-0.9%2C1.5-1.2%2C3-1.2%2C4.8 c0%2C2.4%2C0.3%2C3.9%2C1.2%2C5.4c0.3%2C1.5%2C1.8%2C3%2C3.3%2C3.3l11.5%2C3c0.6%2C1.8%2C1.5%2C3.3%2C2.1%2C4.5l-5.6%2C10.7c-0.9%2C1.5-0.9%2C3.3-0.3%2C5.1s1.8%2C3%2C3%2C4.2 c1.2%2C1.2%2C2.7%2C2.1%2C4.2%2C3c1.8%2C0.6%2C3.6%2C0.6%2C5.1-0.3l10.3-6.1c1.5%2C0.9%2C3%2C1.2%2C4.2%2C1.8l3.4%2C11.8c0.6%2C1.8%2C1.8%2C3%2C3.3%2C3.9 c1.8%2C0.6%2C3.3%2C0.9%2C5.1%2C0.9c1.8%2C0%2C3.6-0.6%2C5.1-0.9c0.6-0.6%2C1.5-0.9%2C2.1-1.5c0.6-0.6%2C1.2-1.8%2C1.5-2.7l3-11.5c1.5-0.3%2C3-1.2%2C4.2-1.8 l10.6%2C5.7c1.5%2C0.9%2C3.3%2C0.9%2C5.1%2C0.3c1.8-0.6%2C3.3-2.1%2C4.2-3c1.5-1.5%2C2.4-3%2C3-4.2c0.6-1.8%2C0.6-3.6-0.3-5.1l-5.8-10.6 c0.6-1.2%2C1.2-3%2C1.8-4.2l11.5-3.1c0.9-0.3%2C1.8-0.6%2C2.7-1.5c0.6-0.6%2C1.2-1.2%2C1.2-1.8c0.6-1.8%2C0.9-3.3%2C0.9-5.1c0-1.8-0.3-3.3-0.9-5.1 c-0.6-1.8-2.1-2.7-3.9-3.3l-11.5-3c-0.3-1.5-1.2-3-1.8-4.2l5.7-10.6c0.9-1.5%2C0.9-3.3%2C0.3-5.1c-0.6-1.8-1.8-3-3-4.2 C234.6%2C12.4%2C233.1%2C11.5%2C231.9%2C10.9z M211.4%2C38.8c6.1%2C6%2C6.1%2C16.4%2C0.1%2C22.4s-16.3%2C6.1-22.4%2C0c-6.1-6.1-6.1-16.4-0.1-22.4 S205%2C32.5%2C211.4%2C38.8z'/%3E%3C/svg%3E");
}

.icon-hammer {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='100 -50 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='%23FFD466' cx='200' cy='50' r='90'/%3E%3Cpath fill='%23FFFFFF' d='M262%2C32.9l-6.7-6.9c-1.4-1.4-3.6-1.4-5-0.1l-2.8%2C2.8l-14.6-15c-7-7.2-20.3-18.5-30.1-16.4 c-1.6%2C0.3-5.6%2C3.1-5.6%2C3.1l19%2C19.5l-26.3%2C25.6l-1.5-1.6c-1.4-1.4-3.6-1.4-5-0.1l-39.3%2C38.3c-1.4%2C1.4-1.4%2C3.6-0.1%2C5l14.4%2C14.8 c1.4%2C1.4%2C3.6%2C1.4%2C5%2C0.1l39.3-38.3c1.4-1.4%2C1.4-3.6%2C0.1-5l-1.5-1.6l26.3-25.6l8.3%2C8.5l-2.8%2C2.8c-1.4%2C1.4-1.4%2C3.6-0.1%2C5l6.7%2C6.9 c1.4%2C1.4%2C3.6%2C1.4%2C5%2C0.1l17.3-16.9C263.3%2C36.5%2C263.4%2C34.3%2C262%2C32.9z'/%3E%3C/svg%3E");
}

.icon-heart {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='100 -50 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='%23FF8EB4' cx='200' cy='50' r='90'/%3E%3Cpath fill='%23FFFFFF' d='M251.5%2C45.5c0-17.8-11.1-34.6-28.9-34.6c-9%2C0-16.6%2C6.3-22.4%2C12.7c-5.7-6.3-13-12.7-21.8-12.7 c-17.8%2C0-29.9%2C16.8-29.9%2C34.6c0%2C24.7%2C37.2%2C51.1%2C52.4%2C51.1C217.5%2C96.6%2C251.5%2C67.7%2C251.5%2C45.5z'/%3E%3C/svg%3E");
}

.icn {
    width: 9.375rem;
    height: 9.375rem;
}