/* cssnext */

a:hover {
    color: #4682b4;
    color: rgba(70, 130, 180, 0.8);
}

@media (min-width: 48rem) and (max-width: 64rem) {
    .container {
        max-width: 64rem;
    }
}

h1 {
    color: #b22222;
}

.highlight {
    background: #b22222;
    border: solid 0.0625rem steelblue;
}

/* pxtorem */

h1 {
    color: #b22222;
    font-size: 3.75rem;
    margin-bottom: 2.5rem;
    letter-spacing: 0.0625rem;
}

/* autoprefixer */

.nav {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
    border: 0.625rem;
}