/* cssnext */

a:hover {
    color: color(var(--color-sec) a(80%));
}

@media (768px <= width <= 1024px) {
    .container {
        max-width: 1024px;
    }
}

:root {
    --color-prim: #b22222;
    --color-sec: steelblue;
}

h1 {
    color: var(--color-prim);
}

.highlight {
    background: var(--color-prim);
    border: solid 1px var(--color-sec);
}

/* pxtorem */

h1 {
    color: var(--color-prim);
    font-size: 60px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

/* autoprefixer */

.nav {
    display: flex;
    flex-direction: column;
    border: 10px;
}